@media (max-width: 1390px){
    .small-stars .star-rating__wrap{
        font-size: 10px;
    }
}
@media (max-width: 1266px) {
    .popular{
        width: 75%;
    }
    .img-border{
        width: 25%;
    }
    .enter{float: left;}
    .halfblock{
        width: 100%;
    }
    .reviews-about-product{
        margin-left: 0;
    }
    .reviews-about-product>h2{
        margin-top: 10px;
    }
    .reviews-about-product a{
        line-height: 45px;
    }
    .my-review{
        width: 100%;
    }
    .info-ab-review{
        width: 100%;
    }
    .user-review{
        width:100%;
    }
    .user-page{
        width:75% ;
    }
    .user-page>div:nth-child(1){
        width: 100%;
    }
    .user-foto{
        top:100px;
    }
}
@media (max-width: 1162px) {
    .menu{
        display: none;
    }
    #touch-menu{
        display: block;
        position: absolute;
        top:3px;
        left: 5px;
    }
    .search{float: none;padding: 5px 0;margin-left: 45px;}
    .menu{
        position: relative;
        background-color: #0077b5;
    }
    .menu li{
        width: 100%;
    }
}
@media (max-width: 1017px) {
    .popular{
        width: 70%;
    }
    .img-border{
        width: 50%;
    }
    .product-this-manufacturer>div{
        padding: 15px;
    }
    .user-page{
        width: 70%;
    }
    .user-foto{
        width: 35%;
    }
}
@media (min-width: 950px) {
    .choose-info>div div{
        width: 24.9%;
    }
}
@media (max-width: 949px) {
    .choose-info>div div{
        width: 49.8%;
        margin-top: 10px;
    }
    .news>div{
        width: 50%;
    }
    footer .bottom{
        width: 50%;
        text-align: center;
    }
    .enter1{
        left:20px;
        top:23px;
    }
    .choose-info>div div:nth-child(2){
        border:none;
    }
}
@media (max-width: 850px) {
    .popular{
        width: 65%;
    }
    .img-border{
        width: 35%;
    }
    .sorting{
        float: left;
    }
    .sorting p{
        margin-left: 0;
    }
    .image-product{
        width: 100%;
    }
    .stars1{
        width: 100%;
    }
    #milk-h2{
        float: none;
    }
    .user-foto{
        display: none;
    }
}
@media (max-width: 850px) {
    .popular{
        width: 60%;
        text-align: center;
    }
    .img-border{
        width: 100%;
    }
    .desc-product{width: 100%;}
    .user-page{width: 65%;}
    .userpage-prod{
        width: 200px !important;
    }
    .user-review{
        margin-top: 20px;
    }
}
@media (max-width: 1390px) and (min-width: 651px){
    .logo{
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }
    header p{
        width: 100%;
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    .web{
        float: left;
        padding: 10px 5px;
    }
    .autorisation{
        float: left;
    }
    .langs-circle p{
        margin: 6px 0 0 1px;
    }
}
@media (max-width: 731px) {
    .user-page{
        width: 60%;
    }
}
@media (max-width: 650px) {
    .middle{
        width: 95%;
    }

    .news>div{
        width: 100%;
    }
    footer .bottom{
        width: 100%;
        text-align: center;
    }
    aside{
        width: 100%;
    }
    .popular{
        width: 100%;
    }
    .img-border{
        width: 100%;
    }
    .star-rating__wrap{
        font-size: 12px;
    }
    .choose-info>div div{
        margin-top: 10px;
    }
    .img-border a img{
        max-width: 200px;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    header p{
        margin-top: 0;
        text-align: center;
        float: none;
    }
    .web{float: none;}
    .langs-circle p{
        margin: 6px 0 0 0px;
    }
    .langs{width: 100%;margin-bottom: 10px;}
    .autorisation{
        width: 170px;
        margin: 0 auto;
        float: none;
    }
    .advetisement{
        display: none;
    }
    .bottom>div{
        padding: 0;
    }
    .inner a>div{
        padding: 0;
    }
    .popular>div{
        padding: 0;
    }
    .info-about-product>div{
        margin: 0;
    }
    .user-page{width: 100%;}
    .user-page>div:nth-child(1)>div{
    padding: 0;
    }
    .enter1{
        left: 0;
    }
}
@media (max-width: 400px) {
    .choose-info>div div{
        width: 100%;
    }
}