
body{width: 100%;margin: 0;}
.middle{
    width:80%;
    max-width: 1148px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin:27px 0;
}
header p{
    float: left;
    font-family: Verdana,serif;
    font-size: 14px;
    color: #0077b5;
    padding: 0 40px;
    margin-top: 35px;
}
.web{
    float: right;
    padding: 10px 20px;
    text-align: center;
}
.web>div{
    display: inline-block;
}
.web-icons{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid #b3b3b3 ;
    text-align: center;
}
.web-icons:hover{
    border: 2px solid #0077b5 ;
}
.web-icons a i{
    font-size: 19px;
    color:#b3b3b3;
    padding-top: 8px;
}
.web-icons:hover a i{
    color: #0077b5;
}
button{
    font-family: Verdana,serif;
    font-size: 14px;
    background-color: #0077b5;
    color: white;
    padding: 3px 10px;
    border: none;
    margin-bottom: 10px;
}
.autorisation{
    float: right;
    padding: 0 20px;
}
.autorisation form{
    margin-bottom: 5px;
    margin-top: 10px;
}
.autorisation form input[type="text"]{
    margin: 0 0 5px 0;
}
.autorisation a{
    font-family: Verdana,serif;
    font-size: 14px;
    color: #b3b3b3;
    float: right;
    margin-top: 5px;
}
.langs-circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #b3b3b3 ;
    display: inline-block;
    text-align: center;
}
.langs-circle p{
    margin: 6px 0 0 6px;
    padding: 0;
}
.langs-circle:hover{border:2px solid #0077b5;}
.langs{
    float: right;
    text-align: center;
    margin-top: 10px;
}
.langs a{
    font-size: 14px;
    color:#b3b3b3;
    text-decoration: none;
}
.langs:hover a{color: #0077b5;}
.clear{
    clear: both;
}
.top-menu{
    background-color: #0077b5;
    position: relative;
}
.search{
    margin:7px 0 3px 4px;
    float: left;
}
.top-menu i{
    font-size: 20px;
    color: white;
    margin-left: 5px;
}
.menu{
    list-style: none;
    padding: 10px 0;
    text-align: right;
    margin: 0;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    font-family: Verdana,serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
}
#touch-menu{display: none;}
#touch-menu i{
    font-size: 27px;
    color: white;
}
.choose-info{
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 0;
    margin: 10px 0;
}
.choose-info>div{
    width: 100%;
}
.choose-info>div div{
    position: relative;
    font-family: Verdana,serif;
    font-size: 16px;
    text-align: center;
    float: left;
    border-right: 1px solid white;
    height: 120px;
}
.choose-info>div div p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin: 0 auto;
}
.choose-info>div div a img{
    width: 50px;
    min-width: 40px;
}
.choose-info>div div:last-child{
    border-right: none;
}

aside{
    width: 20%;
    min-width: 200px;
    float: left;
    margin-top: 20px;
}
.null{
    color:white;
    background-color: #0077b5;
}

#accordion{
    list-style: none;
    padding: 0;
    font-family: Verdana,serif;
    font-size: 13px;
    margin: 0;
    border: 1px solid #b3b3b3;
}
#accordion ul{
    display: none;
    list-style: none;
}
#accordion i{
    float: right;
}
#accordion>li:first-child>div,#accordion>li:last-child>div{
    border-bottom: 0;
}
#accordion>li>div{
    padding: 5px 10px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
#accordion>li>ul{
    padding: 0;
    background-color: #f2f2f2;
}
#accordion>li>ul>li{
    padding: 5px 10px;
    border-bottom: 1px solid white;
}
.advetisement{
    margin-top: 10px;
}
.advetisement>img{
    width: 100%;
}
.popular{
    width: 80%;
    float: right;
}
.popular>div{
    padding-left: 15px;
    float: left;
}
.popular h2{
    font-family: Verdana,serif;
    font-size: 18px;
    margin: 10px 0 10px 0;
}
.img-border{
    width: 20%;
    float: left;

}
.img-border>div{
    text-align: center;
    padding: 13px;
    border: 1px solid #e6e6e6;
    margin: 10px  0 10px 5%;
}
.img-border a{
    text-decoration: none;
}
.img-border a img{
    width: 100%;
    margin: 0 auto;
}
.star-rating{
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 16px;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 8px;
    cursor: pointer;
    color: #0077b5;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
.description{
    font-family: Verdana,serif;
    font-size: 14px;
    color: #3d3d3d;
}
.news{
    width: 100%;
    font-family: Verdana,serif;
    color: #3d3d3d;
    float: left;
    margin-bottom: 20px;
}
.news h2{
    font-size: 18px;
}
.news>div{
    width: 33.3%;
    float: left;
}
.news>div h3{
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.news p{
    font-size: 14px;
}
.inner a{
    color: #3d3d3d;
    text-decoration: none;
}
.inner a>div{
    padding: 0 40px 0 0;
}
.inner a >div>img{
    width: 100%;
}
footer{
    width: 100%;
    background-color: #f2f2f2;
    padding: 15px 0;
    margin-top: 20px;
}
footer .bottom{
    width: 33.3%;
    float: left;
}
footer a{
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
footer h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #0077b5;
    margin: 0 0 10px 0;
}
footer h2 a{
    color: #0077b5;
    text-transform: uppercase;
}
.bottom>div{
    padding: 0 40px 0 0;
}
/****************Category**************************/
.hor-menu{
    padding: 0;
    float: left;
    margin-right: 10px;
}
.hor-menu li{
    display: inline-block;
    margin-right: 5px;
}
.hor-menu li::after{
    height: 5px;
    width: 5px;
    margin: 0 0 2px 9px;
    background: #b3b3b3;
    border-radius: 100%;
    content: "";
    display: inline-block;
}
.hor-menu li:last-child::after{
    display: none;
}
.hor-menu li a{
    font-family: Verdana,sans-serif;
    font-size: 12px;
    color:#0077b5 ;
    text-decoration: none;
}
.enter{
    font-family: Verdana,sans-serif;
    font-size: 13px;
    color:#3d3d3d;
    float: left;
    margin: 16px 0;
}
#milk-h2{
    float: left;
}
.sorting{
    font-family: Verdana,sans-serif;
    font-size: 12px;
    float: right;
}
.sorting p{
    float: left;
    margin: 12px 10px ;
}
.sorting select{
    margin: 10px 0;
}
option{
    background-color: #f2f2f2;
    padding: 5px;
}
option:hover{
    background-color: white;
}
.halfblock{
    width: 50%;
    float: left;
}
.info-about-product{
    width: 100%;
}
.info-about-product>div{
    height: 900px;
}
.info-about-product>div,.reviews-about-product>div:nth-child(5){
    border:1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15px;
    margin-left: 10px;
}
.image-product{
    width: 40%;
    float: left;
}
.image-product>img,.small>img{
    width: 100%;
}
.small{
    width: 48%;
    float: left;
}
.recommend{
    width: 100%;
    text-align: center;
    float: left;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    background-color: #f2f2f2;
    padding: 10px 0;
}
.recommend i{
    color:#60b369;
    font-style: normal;
}
.image-product div:nth-child(2){
    padding-right: 3px;
}
.image-product div:nth-child(3){
    float: right;
}
.desc-product{
    width: 55%;
    float: right;
}
.desc-product a{
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #0077b5;
    text-decoration: none;
}
.stars{
    float: left;
    width: 100%;
}
.big-stars,.small-stars{border-bottom: none;margin-bottom: 0;}
.big-stars .star-rating__wrap{
    font-size: 1.3em;
    padding-bottom: 10px;
    border-bottom: 1px solid #0077b5;
}
.desc-product p{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    float: left;
}
.small-stars{
    float: right;
    margin-bottom: 0;
    padding: 14px 0;
}
.small-stars .star-rating__wrap{
    font-size: 14px;
}
.info-about-product h3,.info-about-product p,.reviews-about-product p,.reviews-about-product h3{
    font-family: Verdana,sans-serif;
    font-size: 14px;
}
.info-about-product>div>p{
    padding-bottom: 14px;
    border-bottom: 1px solid #e6e6e6;
}
.info-about-product>div{
    position: relative;


}
.web-icons-production>div{
    display: inline-block;
}
.webicons{
    width: 25px;
    height: 25px;
    border-radius: 6px;
    font-size: 30px !important;
}
.fa-plus-square{
    color:#de2a1b;
}
.fa-facebook-square{
    color:#3b5998;
}
.fa-twitter-square{
    color:#55acee;
}
.fa-google-plus-square{
    color:#dd4b39;
}
.reviews-about-product{
    font-family: Verdana,sans-serif;
    width: 100%;
}
.reviews-about-product>h2{
    float: left;
    margin-right: 10px;
}
.reviews-about-product>a{
    font-family: Verdana,sans-serif;
    font-size: 12px;
    color:black;
}
.cool a{
    font-size: 20px;
    text-decoration: none;
    float: right;
    margin-right:10px;
}
.yes{
    color:#60b369;
}
.no{
    color:#de2a1b;
}
.cool i{
    color:#b4b4b4;
}
.person-review{
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.person-review h2,.desc-product h2{
    font-size: 14px;
}
.person-review h2{
    float: left;
}
.person-review>a{
    font-family: Verdana,sans-serif;
    font-size: 16px;
    color: black;
}
.reviews-about-product>div:nth-child(5){
    height: 900px;
}
.other-product{
    margin-top: 15px !important;
}
.my-review{
    width: 70%;
    float: left;
    margin-bottom: 20px;
}
.info-ab-review{
    width: 30%;
    float: left;
    font-family: Verdana,sans-serif;
    font-size: 14px;

}
.info-ab-review p{
    margin: 0;
}
.border-none>div{
    border: none;
    height: auto;
}
.stars1 p{
    float: left;
}
.stars1{
    width: 50%;
}
.stars1>div:nth-child(2){
    border-top: 1px solid #0077b5;
}
textarea{
    width:96%;
}
.comments{
    float: left;
    width:100%;
}
.comments>p{
    margin: 5px 0;
}
.do-you-recommend,.public{
    float: left;
}
.public{
    margin-left: 20px;
}
.do-you-recommend{
    font-family: Verdana,sans-serif;
    font-size: 14px;
}

.border{
    border: 1px solid #e6e6e6;
    margin: 15px 0;
}
.product-this-manufacturer>div{
    margin-left: 10px;
    height: 900px;
}
.this-manufacturer{
    width: 50%;
    margin-top:0 ;
}
.product-this-manufacturer h2{
    margin: 17px 0px 0 0;
}
#accordion>li>ul>li>a{
    color:black;
    text-decoration: none;
}
.stars2{
    clear: both;
    width: auto;
    float: left;
}
*{
    font-family: Verdana;
}
.user-page{
    width: 80%;
    float: right;
    position: relative;
}
.user-page>div:nth-child(1){
    width: 70%;
    float: left;
}
.user-page>div:nth-child(1)>div{
    padding-left: 20px;
}
.user-review>div>div>p,.user-review>div>div>h3{
    font-size: 14px;
}
.user-review>div>div>a{
    color: black;
    font-size: 14px;
}
.user-review>div>h2{
   font-size: 18px;
   margin: 10px 0 ;
}
.user-foto{
    position: absolute;
    right: 0;
    top:60px;
    width: 30%;
    float: left;
    text-align: center;
}
.user-foto h3,.user-foto p, .user-foto a{
    font-size: 14px;
    color:black
}
.user-foto div div{
    padding: 16px 10px;
    border:1px solid #e6e6e6;
}
.enter1{
    position: absolute;
    right: 0;
}